<!DOCTYPE html>
<html lang="en">
<head >
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/mycss.css">

    
<title>form</title>
</head>
<body>
<div class="container">
<div class="row">
<h1>CONTACT FORM </h1>
</div>
<div class="row">
<h4 style="text-align:center;">Kindly fill in the details !</h4>
</div>
<div class="container">

<form action="/registers" method="POST" class="form"></form>

<div class="row">
<div class="col1">
<label for="firstname">First Name</label>
</div>
<div class="col2">
<input type="text" name="firstname" placeholder="enter name" id="myform" required>
</div>
</div>

<br><br>
<div class="row">
<div class="col1">
<label for="Surname">Surname </label>
</div>
<div class="col2">
<input type="text" name="surname" placeholder="enter surname" id="myform">
</div>
</div>


<br><br>
<div class="row">
<div class="col1">
<label for="email">Email</label>
</div>
<div class="col2">
<input type="email" name="email" placeholder="enter email" id="myform">
</div>
</div>
<br><br>

<div class="row">
<div class="col1">
<label for="phone-No">Phone-No</label>
</div>
<div class="col2">
<input type="tel" name="phone_no" placeholder="enter Phone No" id="myform">
</div>
</div>
<br><br>

<div class="row">
<div class="col1">
<label for="address">Address</label>
</div>
<div class="col2">
<input type="text" name="address" placeholder="enter address" id="myform">
</div>
</div>
<br><br>

<input class="sbutton" type="submit" value="submit"  >
</div>
</form>
</div>
</body>
</html>
 
